{% extends 'base.html.twig' %}

{% block title %}Edit EEmployee{% endblock %}

{% block body %}
    <h1>Edit EEmployee</h1>

    {{ include('e_employee/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_e_employee_index') }}">back to list</a>

    {{ include('e_employee/_delete_form.html.twig') }}
{% endblock %}
